
/* Header =============================== */

div.navbar-inner {
	background: white;
	filter: none;
	border: none;
	box-shadow: none;
	height: 65px;
	padding-top: 10px;
	margin-bottom: 100px;
	width: 100%;
	float: left;

}

div.nav {
	display:block; 
	
}

div.greenbox {
	margin-right: -33px;
}

div.navbar .nav > li > a {
	color: #333333;
	text-shadow: none;
	display: inline-block;

}

div.navbar .nav > li > a:hover {
	color: #00FA9A;
	}

div.navbar .nav .active > a { 
	color: #333333;
	background: #00FA9A;

	filter: none;
	border: none;
	box-shadow: none;
	
margin-top: 8px ;
	padding: 2px 9px;
	float: left;
	display: block;
	clear: both;
	line-height: 1.1em;
	height: auto;

}

div.navbar .nav .active > a:hover { 
	color: black;
	background: lightgrey;
	filter: none;
	border: none;
	box-shadow: none;
	}

li.logotext {
	font-family: cookie;
	font-size: 3.1em;
	font-weight: 300;
	padding-top: 8px;
	color: #333333;

}


div.row{
	margin-top: px;

}

li.logotext.extra {
	font-family: cookie;
	font-size: 4.1em;
	font-weight: 300;
	padding-top: 8px;
	color: #333333;

}


/* Launchrock widget =============================== 
div#lr-widget {
	
	
	height: 300px;



}



/* kickoff section =============================== */




	.subline {
	
	color: white;
	text-align: center;

margin-top: 40px;
	
	
	width: 100%;
	position: relative;
	font-size: 1.6em;
	line-height: 1.4em;
	font-weight: 300;
	}


.headline {
	font-family: cookie;
	color: #00FA9A;
	text-align: center;
	font-weight: 300;
	font-size: 8em;

	

	position: relative;
	width: 100%;

	z-index: 100;
	
}

	




div.kickoff-unit{
	text-align: center;
	position: fixed;

	height: 790px;
	z-index: 0;
	
	width: 100%;
	
	
	



}




div#pricingpage {
	background: white;
	height: 540px;
	padding-top: 20px;
	padding-bottom: 30px;
	position: relative;
	
}



div#incentivepage {
	
	height:900px;
	padding-top: 65px;
	
	padding-bottom: 40px;
	background-color: lightgrey;
	
	
}


/* signup page =============================== */

div#signuppage {
	
	height: 700px;
	padding-top: 65px;
	
	padding-bottom: 40px;
	background-color: lightgrey;
	position: relative;

	
	
}



div.signup-unit{
	background: transparent;
	
}




/* hero section =============================== */

div#hero {
	background: #00FA9A;
	height: 500px;
	padding-top: 0px;
	padding-bottom: 30px;
	position: relative;

}


div#hero1 {
	background: transparent;
	height: 0px;
	padding-top: 0px;
	padding-bottom: 30px;
	position: relative;

}
.span7 h1 {
  margin-bottom: 0;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -1px;
  color: #00FA9A;
  text-align: center;


}


div.hero-unit{
	background: transparent;
	position: relative;
}


/* USP section =============================== */

div#usp {
	background: white;
	height: 500px;
	padding-top: 40px;
	position: relative;
	text-align: center;
	z-index: 2;
	
}

div#reasons {
	background: lightgrey;
	height: 500px;
	padding-top: 100px;
	position: relative;
	
}

/* feature section =============================== */

div#features {
	background: lightgrey;
	height: 470px;
	padding-top: 60px;
	position: relative;
	text-align: center;
	z-index: 2;
	
}

div.row.toprow{
	margin-top: -25px;

}



/* hero section =============================== */

div#anmelden {
	background: white;
	height: 500px;
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;

	
}


/* Footer =============================== */


div#footer{
	background: #00FA9A;
	height: 200px;
	
	position: relative;
	padding-top: 30px;
	z-index: 2;
	
	
}

h5.footerlink {
  margin: 10px 0;

  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: #333333;
  text-rendering: optimizelegibility;
  
}


h5.footerlink:hover {
  margin: 10px 0;
  font-weight: bold;
  line-height: 20px;
  text-decoration: none !important;
}


h5.quote {
color: white;
font-weight: 230;
margin-left: 70px;

	}

h4.footerheadline {
	line-height: 25px;
	margin-bottom: 20px;
	color: #333333;

}


h4.signature {font-family: cookie;
	font-size: 3.1em;
	font-weight: 300;
	padding-top: 15px;
	margin-bottom: -10px;
	color: white;
	margin-left: 70px;

}

/* Buttons =============================== */



.myButtonwhite {


	width: 25%;
	
		
        
        -moz-box-shadow:inset 0px px 0px 0px #ffffff;
        -webkit-box-shadow:inset 0px px 0px 0px #ffffff;
        box-shadow:inset 0px px 0px 0px #ffffff;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
        background:-moz-linear-gradient(top, #ffffff 5%, #ffffff 100%);
        background:-webkit-linear-gradient(top, #ffffff 5%, #ffffff 100%);
        background:-o-linear-gradient(top, #ffffff 5%, #ffffff 100%);
        background:-ms-linear-gradient(top, #ffffff 5%, #ffffff 100%);
        background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
        
        background-color:#ffffff;
        
        -moz-border-radius:0px;
        -webkit-border-radius:0px;
        border-radius:0px;
        
        
        
        display:inline-block;
       color: #333333;
        font-family:Trebuchet MS;
        font-size:17px;
        font-weight:bold;
        padding:11px ;
		margin:20px 3px -3px 0px;
        text-decoration: none;
        
        

    }
    .myButtonwhite:hover {
        
	
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, lightgrey), color-stop(1, lightgrey));
        background:-moz-linear-gradient(top, lightgrey  5%, lightgrey 100%);
        background:-webkit-linear-gradient(top, lightgrey  5%, lightgrey  100%);
        background:-o-linear-gradient(top, lightgrey  5%, lightgrey  100%);
        background:-ms-linear-gradient(top, lightgrey  5%, lightgrey  100%);
	
        background:linear-gradient(to bottom,lightgrey 5%, lightgrey  100%);
        color: #333333;
         text-decoration: none;
        background-color:lightgrey;
    }
    .myButtonwhite:active {
        position:relative;
        top:1px;
         text-decoration: none;
    }


.myButtonwhite.signup {


	width: 230px;
	text-align: center;
	
		
        
        -moz-box-shadow:inset 0px px 0px 0px #ffffff;
        -webkit-box-shadow:inset 0px px 0px 0px #ffffff;
        box-shadow:inset 0px px 0px 0px #ffffff;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
        background:-moz-linear-gradient(top, #ffffff 5%, #ffffff 100%);
        background:-webkit-linear-gradient(top, #ffffff 5%, #ffffff 100%);
        background:-o-linear-gradient(top, #ffffff 5%, #ffffff 100%);
        background:-ms-linear-gradient(top, #ffffff 5%, #ffffff 100%);
        background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
        
        background-color:#ffffff;
        
        -moz-border-radius:0px;
        -webkit-border-radius:0px;
        border-radius:0px;
        
        
        
        display:inline-block;
       color: #333333;
        font-family:Trebuchet MS;
        font-size:17px;
        font-weight:bold;
        padding:11px ;
		margin:20px 3px -3px 0px ;
        text-decoration: none;
        
        

    }
    .myButtonwhite.signup:hover {
        
	
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00FA9A), color-stop(1, #00FA9A));
        background:-moz-linear-gradient(top, #00FA9A  5%, #00FA9A 100%);
        background:-webkit-linear-gradient(top, #00FA9A  5%, #00FA9A  100%);
        background:-o-linear-gradient(top, #00FA9A  5%, #00FA9A  100%);
        background:-ms-linear-gradient(top, #00FA9A  5%, #00FA9A  100%);
	
        background:linear-gradient(to bottom,#00FA9A 5%, #00FA9A  100%);
        color: #333333;
         text-decoration: none;
        background-color:#00FA9A;
    }
    .myButtonwhite.signup:active {
        position:relative;
        top:1px;
         text-decoration: none;
    }
	






.signupwidget {
	margin-bottom: -100px;
margin-top: -30px;
margin-left: -115px;
height: 300px;
}

.signupwidgetfront {
	margin-bottom: 40px;
margin-top: 160px;
width: 100%;
z-index: 2;
position: relative;
}


.myButtonwhite.green {


	width: 230px;
	text-align: center;
	
		
        
        -moz-box-shadow:inset 0px px 0px 0px #00FA9A;
        -webkit-box-shadow:inset 0px px 0px 0px #00FA9A;
        box-shadow:inset 0px px 0px 0px #00FA9A;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00FA9A), color-stop(1, #00FA9A));
        background:-moz-linear-gradient(top, #00FA9A 5%, #00FA9A 100%);
        background:-webkit-linear-gradient(top, #00FA9A 5%, #00FA9A 100%);
        background:-o-linear-gradient(top, #00FA9A 5%, #00FA9A 100%);
        background:-ms-linear-gradient(top, #00FA9A 5%, #00FA9A 100%);
        background:linear-gradient(to bottom, #00FA9A 5%, #00FA9A 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FA9A', endColorstr='#00FA9A',GradientType=0);
        
        background-color:#00FA9A;
        
        -moz-border-radius:0px;
        -webkit-border-radius:0px;
        border-radius:0px;
        
        
        
        display:inline-block;
       color: #333333;
        font-family:Trebuchet MS;
        font-size:17px;
        font-weight:bold;
        padding:11px ;
		margin:20px 3px 3px 0px;;
        text-decoration: none;
        
        

    }
.myButtonwhite.green.liste {
display:inline-block;
       color: #333333;
        font-family:Trebuchet MS;
        font-size:17px;
        font-weight:bold;
        padding-top :11px ;
        padding-left: 30px;
        padding-right: 0;
        

		margin:0 3px 6px 0px;
        text-decoration: none;
        text-align: left;
}
.myButtonwhite.green.liste:hover {
        
	
         background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
        background:-moz-linear-gradient(top, #ffffff 5%, #ffffff 100%);
        background:-webkit-linear-gradient(top, #ffffff 5%, #ffffff 100%);
        background:-o-linear-gradient(top, #ffffff 5%, #ffffff 100%);
        background:-ms-linear-gradient(top, #ffffff 5%, #ffffff 100%);
        background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
        
        background-color:#ffffff;
    }

    .myButtonwhite.green:hover {
        
	
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, lightgrey), color-stop(1, lightgrey));
        background:-moz-linear-gradient(top, lightgrey  5%, lightgrey 100%);
        background:-webkit-linear-gradient(top, lightgrey  5%, lightgrey  100%);
        background:-o-linear-gradient(top, lightgrey  5%, lightgrey  100%);
        background:-ms-linear-gradient(top, lightgrey  5%, lightgrey  100%);
	
        background:linear-gradient(to bottom,lightgrey 5%, lightgrey  100%);
        color: #333333;
         text-decoration: none;
        background-color:lightgrey;
    }
    .myButtonwhite.green:active {
        position:relative;
        top:1px;
         text-decoration: none;
    }





    
    


