
/* Header =============================== */

div.navbar-inner {
	background: white;
	filter: none;
	border: none;
	box-shadow: none;
	height: 65px;
	padding-top: 10px;
	margin-bottom: 100px;
	width: 100%;
	float: left;

}

div.nav {
	display:table;

	
}

div.greenbox {
	margin-right: -33px;
}

div.navbar .nav > li > a {
	color: #333333;
	text-shadow: none;
	
	

}

div.navbar .nav > li > a:hover {
	color: #00FA9A;
	}

div.navbar .nav .active > a { 
	color: #333333;
	background: #00FA9A;

	filter: none;
	border: none;
	box-shadow: none;
	
margin-top: 8px ;
	padding: 2px 9px;
	float: left;
	
	clear: both;
	line-height: 1.1em;
	height: auto;

}

div.navbar .nav .active > a:hover { 
	color: black;
	background: lightgrey;
	filter: none;
	border: none;
	box-shadow: none;
	}

li.logotext {
	font-family: cookie;
	font-size: 3.1em;
	font-weight: 300;
	padding-top: 8px;
	color: #333333;


}


.navbarr {
    display:table;
    margin:0 auto;
}
.navbarr li {
    display:table-cell;
}
.navbarr li + li {
    padding-left:20px;
}






    
    


