
h1 {
	color: white;
	font-family: 'Cookie', cursive;
font-size: 8em;
	text-align:center;
	margin: 90px;
	text-align: center;

}


	
h2 {font-size: 8em;
	color: #11;
	font-family: 'Patrick Hand SC', cursive;

	text-align:center;
	margin: 90px;
}	

  h3 {
font-size : 8em;
color : magenta;
font-family : Covered By Your Grace, cursive;
text-align : center;
margin: 100px;
}

*/


div#lr-widget {
	
	
	height: 800px;
	/*overflow: auto;*/
	
	margin: 0 auto 0 auto;

}





section {
	
	height: 400px;
	
	text-align:center;
	padding: 8px;
	position: relative;

	
}


section#a { background: moccasin;
height: 400px;}
section#b { background: darkgrey }
section#c { background: magenta 
}
section#d { background: purple }






    
    


