
h1 {font-size: 12em;
	color:  white;
	font-family: 'Cookie', cursive;
	text-align:center;
	margin: 40px;
	
}
	
h2 {font-size: 8em;
	color: #11;
	font-family: 'Patrick Hand SC', cursive;

	text-align:center;
	margin: 90px;
}	

  h3 {
font-size : 8em;
color : magenta;
font-family : Covered By Your Grace, cursive;
text-align : center;
margin: 100px;
}


/*div {
	min-width: 1285px;
	height: 1000px;
	overflow: auto;
	border: px solid gray;
	margin: -9px auto 0 -20px; */

}

section {
	height: 400px;
	background: blue;
	text-align:center;
	padding-top: 50px;
}

section#a { background: moccasin;
height: 400px;}
section#b { background: darkgrey }
section#c { background: magenta }
section#d { background: purple }


#header {
	height: 45px;
	position: fixed;
	min-width: 1285px;
	background-color: #cc0033;
    box-shadow: 0 0 30px #ddd;
    top: 0;
    left: 0;
    right: 0;
    
    }
    
    


