.navbar-inverse .navbar-inner {
  background: white;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }

div#lr-widget {
	
	
	height: 800px;
	/*overflow: auto;*/
	
	margin: 0 auto 0 auto;

}